Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  - cd ${PROJECT_PATH}
  ...

test ui:
  image: gitlab.open-xchange.com:4567/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  - cd ${PROJECT_PATH}
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: guidedtours
  script:
  - cd ${PROJECT_PATH}
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

Handle folderchange in edit view correctly.
  ui/apps/io.ox/calendar/edit/extensions.js
Due: build ui, build update-themes, test ui

Fix Accept/Decline behavior
  ui/apps/io.ox/calendar/actions.js
Due: build ui, build update-themes, test ui

Revert "Fixed Bug 64958 - [L3] no warning when removing organizer from appointment during creation of appointmen"
  ui/apps/io.ox/participants/chronos-views.js
Due: build ui, build update-themes, test ui

Automatic POT generation
  ui/i18n/bg_BG.po
  ui/i18n/ca_ES.po
  ui/i18n/cs_CZ.po
  ui/i18n/da_DK.po
  ui/i18n/de_DE.po
  ui/i18n/en_GB.po
  ui/i18n/en_US.po
  ui/i18n/es_ES.po
  ui/i18n/es_MX.po
  ui/i18n/et_EE.po
  ui/i18n/fi_FI.po
  ui/i18n/fr_CA.po
  ui/i18n/fr_FR.po
  ui/i18n/hu_HU.po
  ui/i18n/it_IT.po
  ui/i18n/ja_JP.po
  ui/i18n/lv_LV.po
  ui/i18n/mn_MN.po
  ui/i18n/nb_NO.po
  ui/i18n/nl_NL.po
  ui/i18n/ox.pot
  ui/i18n/pl_PL.po
  ui/i18n/pt_BR.po
  ui/i18n/ro_RO.po
  ui/i18n/ru_RU.po
  ui/i18n/sk_SK.po
  ui/i18n/sv_SE.po
  ui/i18n/tr_TR.po
  ui/i18n/zh_CN.po
  ui/i18n/zh_TW.po
Due: build ui, build update-themes, test ui

Fixed: Bug 67365 - Trying to access shared calendar logs out user (2)
  ui/apps/io.ox/mail/detail/view.js
Due: build ui, build update-themes, test ui

[remove me] different tweaks
  .gitlab-ci.yml
  gitlab-ci/preview_apps.yml
  ui/Dockerfile
Due: build ui, build update-themes, test ui, build help

Content updates. Added capability attribute to index.html
  help/help/l10n/de_DE/ox.appsuite.user.index.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.drive.view.attachments.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.settings.globalsettings.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.settings.personaldata.html
Due: build help

OXUD-655 Story OXUI-687 Hide and show Help topics based on user capabilities
  help/help/l10n/de_DE/ox.appsuite.user.sect.contacts.manage.inviteappointment.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.drive.view.attachments.html
Due: build help

added seperate less file for capabilities
  help/help/inline_help.less
  help/help/inline_help_capabilities.less
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui, build help

added cap-webmail to whitelist, changed css for the index
  help/help/help.css
  help/help/inline_help_capabilities.less
Due: build help

added basic idead of hiding links based on css classes
  help/help/inline_help.less
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui, build help

added more capabilites to less file
  help/help/inline_help_capabilities.less
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui, build help

inverted css logic to default display:none with a whitelist
  help/help/inline_help_capabilities.less
  help/help/l10n/de_DE/ox.appsuite.user.index.html
Due: build help

OXUD-665 Story OXUI-687 Hide and show Help topics based on user capabilities, Step2, Round #5+6
  help/help/l10n/de_DE/ox.appsuite.user.sect.contacts.manage.inviteappointment.html
Due: build help

added more capabilities and hide prev/next links
  help/help/help.css
  help/help/inline_help.less
  help/help/inline_help_capabilities.less
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui, build help

OXUD-665 Story OXUI-687 Hide and show Help topics based on user capabilities, Step2, Round #3
  help/help/l10n/de_DE/ox.appsuite.user.chap.calendar.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.contacts.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.dataorganisation.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.drive.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.guard.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.tasks.html
  help/help/l10n/de_DE/ox.appsuite.user.index.html
Due: build help

removed excessive logging
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui

OXUD-665 Story OXUI-687 Hide and show Help topics based on user capabilities, Step2
  help/help/l10n/de_DE/ox.appsuite.user.chap.calendar.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.contacts.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.dataorganisation.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.drive.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.guard.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.security.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.tasks.html
  help/help/l10n/de_DE/ox.appsuite.user.index.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.settings.globalsettings.html
Due: build help

change help link generation to use ox.locale instead of ox.language
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui

switch position of help navigation and content
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui

change styling ov nav to be in line with the other links
  help/help/inline_help.less
Due: build help

align navbar to content
  help/help/inline_help.less
Due: build help

add standalone prompt
  ui/apps/io.ox/core/boot/load.js
  ui/apps/io.ox/core/standalone.js
  ui/apps/themes/components/core.less
  ui/html/index.html
Due: build ui, build update-themes, test ui

introduce service worker
  ui/apps/io.ox/core/locale/meta.js
  ui/apps/io.ox/core/settings.js
  ui/grunt/tasks/concat.js
  ui/grunt/tasks/copy.js
  ui/grunt/tasks/dist.js
  ui/src/boot.js
  ui/src/plugins.js
  ui/src/service-worker.js
Due: build ui, build update-themes, test ui

OXUI-687: Hide and show help topics based on user capabilities
  help/help/help.css
  help/help/inline_help.less
  help/help/inline_help_capabilities.less
  help/help/l10n/de_DE/ox.appsuite.user.chap.dataorganisation.html
  help/help/l10n/de_DE/ox.appsuite.user.chap.security.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.settings.personaldata.html
  ui/apps/io.ox/help/main.js
Due: build ui, build update-themes, test ui, build help

fix project name for obs on master- and release- branches
  build.gradle.kts
  gitlab-ci/packaging.yml
Due: none

Build for patch 2019-10-14 (5437)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

minor updates of some depenencies
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Fixes typo
  ui/apps/io.ox/contacts/edit/view.js
  ui/e2e/tests/contacts/edit-contact_test.js
  ui/i18n/bg_BG.po
  ui/i18n/ca_ES.po
  ui/i18n/cs_CZ.po
  ui/i18n/da_DK.po
  ui/i18n/de_DE.po
  ui/i18n/en_GB.po
  ui/i18n/en_US.po
  ui/i18n/es_ES.po
  ui/i18n/es_MX.po
  ui/i18n/et_EE.po
  ui/i18n/fi_FI.po
  ui/i18n/fr_CA.po
  ui/i18n/fr_FR.po
  ui/i18n/hu_HU.po
  ui/i18n/it_IT.po
  ui/i18n/ja_JP.po
  ui/i18n/lv_LV.po
  ui/i18n/mn_MN.po
  ui/i18n/nb_NO.po
  ui/i18n/nl_NL.po
  ui/i18n/ox.pot
  ui/i18n/pl_PL.po
  ui/i18n/pt_BR.po
  ui/i18n/ro_RO.po
  ui/i18n/ru_RU.po
  ui/i18n/sk_SK.po
  ui/i18n/sv_SE.po
  ui/i18n/tr_TR.po
  ui/i18n/zh_CN.po
  ui/i18n/zh_TW.po
Due: build ui, build update-themes, test ui

Build for patch 2019-10-14 (5438)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Build for patch 2019-10-14 (5439)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

fix for bug 67073 - [L3] document preview slow when a lot of files in folder
  ui/apps/io.ox/core/viewer/views/types/typesregistry.js
Due: build ui, build update-themes, test ui

actions: improve captions
  ui/apps/io.ox/backbone/views/actions/util.js
Due: build ui, build update-themes, test ui

Fixed: Bug 67428 - Postal address format seems to default to DE if country is empty
  ui/apps/io.ox/core/locale/postal-address.js
Due: build ui, build update-themes, test ui

Bug 66616 - Editing a document from invitation calls the popup blocker
  ui/apps/io.ox/mail/detail/content.js
Due: build ui, build update-themes, test ui

additions for I18N documentation
  documentation/how-to/i18n.md
Due: none

Fixed topbar height and all related elements to be 64px like intended.
  ui/apps/themes/components/launcher.less
Due: build ui, build update-themes, test ui

7.10.3 updates and some rewording
  ui/i18n/de_DE.po
Due: build ui, build update-themes, test ui

Make GDPR suboptions optional too
  ui/apps/io.ox/settings/personalData/settings/pane.js
Due: build ui, build update-themes, test ui

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab_ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab_ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab_ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*
