Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

.gitlab-ci.yml:

image: docker:latest

include:
  - local: "/gitlab-ci/docker.yml"
  - local: "/gitlab-ci/preview_apps.yml"
  - local: "/gitlab-ci/documentation.yml"
  - local: "/gitlab-ci/packaging.yml"
  - local: "/gitlab-ci/e2e.yml"

stages:
  - build
  - test
  - deploy
  - e2e
  - report
  - cleanup

.default_cache:
  cache:
    # use one cache
    key: "yarn"
    paths:
      - ".yarn-cache"

.build ui plugin:
  extends: .default_cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
  script:
    - cd ${PROJECT_PATH}
    - yarn --non-interactive --no-progress -s --cache-folder ../.yarn-cache
    - echo ${build_script}
    - eval "${build_script}"
    - "[ -z \"$PACKAGE_NAME\" ] && export PACKAGE_NAME=${PROJECT_PATH}"
    - "[ -z \"$HTDOCS_PACKAGE_NAME\" ] && export HTDOCS_PACKAGE_NAME=${PACKAGE_NAME}"
    - "[ -z \"$L10N_PACKAGE_NAME\" ] && export L10N_PACKAGE_NAME=${PACKAGE_NAME}"
    - npx grunt install:dist --prefix=../${PACKAGE_NAME}/build/pkg --htdoc=../${HTDOCS_PACKAGE_NAME}/build/pkg
    - npx grunt install:languages --prefix=../${L10N_PACKAGE_NAME}/build/pkg
  stage: build
  artifacts:
    expire_in: 2hours
    paths:
      - "*/build"
      - "*/dist"
      - "*/node_modules"

# split build_ui into 2 build jobs (running on 2 different runners in parallel)
# this distributes workload onto 2 runners instead of one and basically halves build time
build ui:
  extends: .build ui plugin
  parallel: 2
  variables:
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
    HTDOCS_PACKAGE_NAME: open-xchange-appsuite
    L10N_PACKAGE_NAME: open-xchange-appsuite-l10n
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    build_tasks_1: lint copy_build compile_po concat uglify:dist_largeFiles less copy_dist
    build_tasks_2: copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist
  tags:
    - openstack
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build update-themes:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build ui docker image:
  dependencies:
    - build ui

test ui:
  image: gitlab.open-xchange.com:4567/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
    - cd ui
    - yarn test
  stage: test
  dependencies:
    - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml
  only:
    changes:
      - ui/**/*

run e2e tests:
  extends: .default_cache
  # don't change the cache, just pull should be up-to-date due to previous build jobs
  cache:
    policy: pull

build help:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  only:
    changes:
      - help/**/*
      - open-xchange-appsuite-help/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build guidedtours:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: guidedtours
  only:
    changes:
      - guidedtours/**/*

build spamexperts:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  only:
    changes:
      - open-xchange-appsuite-spamexperts/**/*

build dynamic-theme:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-dynamic-theme
  only:
    changes:
      - open-xchange-dynamic-theme/**/*

OXUD-709 Bugfix for: Bug 67635 - Wrong capability to switch off drive help, en_US
  help/help/l10n/en_US/bk01-toc.html
  help/help/l10n/en_US/index.html
  help/help/l10n/en_US/ox.appsuite.user.index.html
  help/help/l10n/en_US/ox.appsuite.user.sect.dataorganisation.accounts.edit.html
  help/help/l10n/en_US/ox.appsuite.user.sect.dataorganisation.folder.html
  help/help/l10n/en_US/ox.appsuite.user.sect.dataorganisation.folder.navigate.html
  help/help/l10n/en_US/ox.appsuite.user.sect.dataorganisation.folder.rename.html
  help/help/l10n/en_US/ox.appsuite.user.sect.dataorganisation.sharing.html
  help/help/l10n/en_US/ox.appsuite.user.sect.email.gui.foldertree.html
  help/help/l10n/en_US/ox.appsuite.user.sect.email.manage.save.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.groupware.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.gui.content.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.gui.create.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.gui.foldertree.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.gui.searchbar.html
  help/help/l10n/en_US/ox.appsuite.user.sect.firststeps.gui.toolbar.html
  help/help/l10n/en_US/ox.appsuite.user.sect.portal.customize.add.html
Due: build help

Fixed: Bug 67650 - [L3] Not able to add image to signature
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

[e2e] fix some selectors for mailfilter tests
  ui/e2e/tests/mail/mailfilter/actions_test.js
  ui/e2e/tests/mail/mailfilter/conditions_test.js
  ui/e2e/tests/mail/mailfilter/create_test.js
  ui/e2e/tests/mail/mailfilter/delete_test.js
  ui/e2e/tests/mail/mailfilter/disable_test.js
  ui/e2e/tests/mail/mailfilter/refilter_test.js
  ui/e2e/tests/mail/mailfilter/vacation_notice_test.js
  ui/e2e/tests/mail/mailfilter_test.js
Due: build ui, build update-themes, test ui

German translation updates for 7.10.3
  ui/i18n/de_DE.po
Due: build ui, build update-themes, test ui

Revert "Build for patch 2019-10-28 (5460)"
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Revert "Build for patch 2019-10-28 (5461)"
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

documentation: split up upsell article and move to root level
  documentation/features/upsell.md
  documentation/upsell.md
  documentation/upsell/upsell_01_trigger.md
  documentation/upsell/upsell_02_tools.md
  documentation/upsell/upsell_03_wizard.md
  documentation/upsell/upsell_04_custom_dev.md
Due: none

Build for patch 2019-10-28 (5460)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

[e2e] minor adjustments to timouts for mailfilter tests
  ui/e2e/tests/mail/mailfilter/create_test.js
Due: build ui, build update-themes, test ui

[e2e] make login tests more stable
  ui/e2e/tests/login/login_i18n_test.js
  ui/e2e/tests/login/login_test.js
Due: build ui, build update-themes, test ui

Build for patch 2019-10-28 (5461)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Remove onChangeSecurity trigger resulting in mail header redraw. No longer needed
  ui/apps/io.ox/mail/detail/view.js
Due: build ui, build update-themes, test ui

e2e: refactor contacts for puppeteer
  ui/codecept.conf.js
  ui/e2e/pageobjects/contacts.js
  ui/e2e/pageobjects/mail.js
  ui/e2e/tests/a11y/contacts.js
  ui/e2e/tests/contacts/create-contact_test.js
  ui/e2e/tests/contacts/delete-contact_test.js
  ui/e2e/tests/contacts/detail-contacts_test.js
  ui/e2e/tests/contacts/distribution-list/create-distlist_test.js
  ui/e2e/tests/contacts/distribution-list/delete-distlist_test.js
  ui/e2e/tests/contacts/distribution-list/edit-distlist_test.js
  ui/e2e/tests/contacts/distribution-list/misc-distlist_test.js
  ui/e2e/tests/contacts/distribution-list/util.js
  ui/e2e/tests/contacts/edit-contact_test.js
  ui/e2e/tests/contacts/edit-picture_test.js
  ui/e2e/tests/contacts/folder_test.js
  ui/e2e/tests/contacts/import_csv_test.js
  ui/e2e/tests/contacts/misc-contact_test.js
  ui/e2e/tests/contacts/search-contact_test.js
  ui/e2e/tests/contacts/xss_attachment_test.js
  ui/e2e/tests/general/launch_application_test.js
Due: build ui, build update-themes, test ui

e2e: harmonize feature descriptions (1)
  gitlab-ci/e2e.yml
  ui/e2e/tests/calendar/accept_decline_tentative_test.js
  ui/e2e/tests/calendar/create_appointment_color_test.js
  ui/e2e/tests/calendar/create_by_timeframe_test.js
  ui/e2e/tests/calendar/create_test.js
  ui/e2e/tests/calendar/import/import_test.js
  ui/e2e/tests/calendar/move_test.js
  ui/e2e/tests/calendar/multi_calendar_test.js
  ui/e2e/tests/calendar/recurring_test.js
  ui/e2e/tests/calendar/weekview_timezones_test.js
  ui/e2e/tests/general/configure_quick_launchers_test.js
  ui/e2e/tests/general/inline_help_test.js
  ui/e2e/tests/login/login_i18n_test.js
  ui/e2e/tests/mail/compose_tokenfield_typeahead_test.js
  ui/e2e/tests/mail/mailfilter/refilter_test.js
  ui/e2e/tests/mail/move_copy_test.js
  ui/e2e/tests/mail/move_not_spam_test.js
  ui/e2e/tests/mail/reply_forward_test.js
Due: build ui, build update-themes, test ui

e2e: introduce pageobjects (calendar, contact-picker)
  ui/codecept.conf.js
  ui/e2e/pageobjects/calendar.js
  ui/e2e/pageobjects/contact-picker.js
Due: build ui, build update-themes, test ui

e2e: refacotred C7428 with page objects
  ui/e2e/tests/calendar/create_test.js
Due: build ui, build update-themes, test ui

[e2e] refactor more selectors
  ui/e2e/tests/mail/flag_test.js
  ui/e2e/tests/mail/imap_subscriptions_test.js
  ui/e2e/tests/mail/mailfilter_test.js
  ui/e2e/tests/mail/move_copy_test.js
  ui/e2e/tests/mail/reply_forward_test.js
  ui/e2e/tests/mail/vacationnotice_test.js
  ui/e2e/tests/search/email/find_mails_based_on_date_range_test.js
  ui/e2e/tests/search/multi_search_test.js
  ui/e2e/tests/settings/accounts/primary_account_rename_test.js
  ui/e2e/tests/settings/address_book/configure_default_postal_map_service_test.js
  ui/e2e/tests/settings/address_book/configure_display_of_names_test.js
  ui/e2e/tests/settings/calendar/set_all_day_appointments-as-free_test.js
  ui/e2e/tests/settings/calendar/set_new_default_reminder_test.js
Due: build ui, build update-themes, test ui

Add even more gdpr tests
  ui/spec/io.ox/settings/dataExport/data-export_spec.js
Due: build ui, build update-themes, test ui

removed shaky tag from tests who succeeded more than 95%
  ui/e2e/tests/calendar/caching_test.js
  ui/e2e/tests/calendar/edit_test.js
  ui/e2e/tests/calendar/misc_test.js
  ui/e2e/tests/calendar/move_test.js
  ui/e2e/tests/drive/misc_test.js
  ui/e2e/tests/mail/compose/address_parsing_test.js
  ui/e2e/tests/mail/compose/compose_test.js
  ui/e2e/tests/mail/compose/hyperlinks_test.js
  ui/e2e/tests/mail/compose/send_attachment_from_drive_test.js
  ui/e2e/tests/mail/compose/tinymce_test.js
  ui/e2e/tests/mail/drive_mail_test.js
  ui/e2e/tests/mail/flag_test.js
  ui/e2e/tests/mail/listview_test.js
  ui/e2e/tests/mail/unsorted/unsorted_test.js
  ui/e2e/tests/portal/daytimeWithinGreeting_test.js
  ui/e2e/tests/settings/calendar/set_new_default_reminder_test.js
  ui/e2e/tests/settings/calendar/set_new_default_reminders_all-day-appointments_test.js
  ui/e2e/tests/settings/calendar/show_hide_birthday_calendar_test.js
  ui/e2e/tests/settings/general/edit_user_test.js
  ui/e2e/tests/settings/mail/signatures_test.js
  ui/e2e/tests/sharing/contacts_test.js
  ui/e2e/tests/sharing/general_test.js
  ui/e2e/tests/sharing/mail_test.js
  ui/e2e/tests/tasks/create/create_tasks_from_email_test.js
  ui/e2e/tests/tasks/edit/change_confimation_status_as_participant_test.js
  ui/e2e/tests/tasks/edit/edit_test.js
Due: build ui, build update-themes, test ui

fix and refactor shaky tests
  ui/e2e/tests/drive/folder_test.js
  ui/e2e/tests/drive/general_test.js
  ui/e2e/tests/mail/listview_test.js
  ui/e2e/tests/mail/unsorted/unsorted_test.js
  ui/e2e/tests/settings/calendar/set_all_day_appointments-as-free_test.js
  ui/e2e/tests/settings/mail/attach_vcard_test.js
  ui/e2e/tests/sharing/permissions_test.js
Due: build ui, build update-themes, test ui

Fixed Bug 67658 - Calendar appointment: inconsistent naming of action and dialog for changing reminders
  ui/apps/io.ox/calendar/actions.js
  ui/apps/io.ox/core/folder/contextmenu.js
Due: build ui, build update-themes, test ui

[e2e] refactor even more selectors
  ui/e2e/tests/calendar/create_test.js
  ui/e2e/tests/settings/address_book/configure_default_postal_map_service_test.js
  ui/e2e/tests/settings/address_book/configure_display_of_names_test.js
  ui/e2e/tests/settings/calendar/notifications/delete_notification_mails_after_accepting_or_declining_test.js
  ui/e2e/tests/settings/calendar/set_all_day_appointments-as-free_test.js
  ui/e2e/tests/settings/calendar/set_new_default_reminder_test.js
  ui/e2e/tests/settings/calendar/set_new_default_reminders_all-day-appointments_test.js
  ui/e2e/tests/settings/calendar/show_hide_birthday_calendar_test.js
  ui/e2e/tests/settings/calendar/show_hide_declined_test.js
  ui/e2e/tests/settings/calendar/start_end_of_workingtime_test.js
  ui/e2e/tests/settings/data_export/data_export_test.js
Due: build ui, build update-themes, test ui

e2e: refactor drive tests for puppeteer
  ui/codecept.conf.js
  ui/e2e/actor.js
  ui/e2e/helper.js
  ui/e2e/pageobjects/drive.js
  ui/e2e/tests/drive/drive_test.js
  ui/e2e/tests/drive/folder_test.js
  ui/e2e/tests/drive/general_test.js
  ui/e2e/tests/drive/misc_test.js
Due: build ui, build update-themes, test ui

[e2e] improve some calendar tests
  ui/e2e/tests/calendar/caching_test.js
  ui/e2e/tests/calendar/create_appointment_color_test.js
Due: build ui, build update-themes, test ui

e2e: fixup
  ui/e2e/tests/drive/folder_test.js
Due: build ui, build update-themes, test ui

Better detection of undefined user id
  ui/apps/io.ox/core/api/user.js
Due: build ui, build update-themes, test ui

remove old sources from grunt tasks (moment-interval)
  ui/grunt/tasks/concat.js
  ui/grunt/tasks/thirdparty.js
Due: build ui, build update-themes, test ui

e2e: refactor tasks tests for puppeteer
  ui/codecept.conf.js
  ui/e2e/pageobjects/mail.js
  ui/e2e/pageobjects/tasks.js
  ui/e2e/tests/tasks/create/create_tasks_from_email_test.js
  ui/e2e/tests/tasks/create/create_test.js
  ui/e2e/tests/tasks/create/discard_task_after_entered_some_information_test.js
  ui/e2e/tests/tasks/create/discard_task_without_entered_information_test.js
  ui/e2e/tests/tasks/delete/delete_test.js
  ui/e2e/tests/tasks/edit/change_confimation_status_as_participant_test.js
  ui/e2e/tests/tasks/edit/edit_test.js
Due: build ui, build update-themes, test ui

[e2e] improve Mail > Move/Copy tests
  ui/e2e/tests/mail/move_copy_test.js
Due: build ui, build update-themes, test ui

[e2e] improve some Mail > Detail tests
  ui/e2e/tests/mail/bad_mails/image_replacement_test.js
  ui/e2e/tests/mail/bad_mails/position_fixed_link_test.js
  ui/e2e/tests/mail/bad_mails/strike_through_test.js
  ui/e2e/tests/mail/detail/allow_html_test.js
  ui/e2e/tests/mail/detail/blocked_images_test.js
  ui/e2e/tests/mail/detail/color_quotes_test.js
  ui/e2e/tests/mail/detail/xss_test.js
Due: build ui, build update-themes, test ui

WIP: [e2e] improve mail compose tests
  ui/e2e/pageobjects/mail.js
  ui/e2e/tests/mail/compose/address_book_popup_test.js
  ui/e2e/tests/mail/compose/address_parsing_test.js
  ui/e2e/tests/mail/compose/change_from_displayname_test.js
  ui/e2e/tests/mail/compose/check_default_mail_priority_test.js
  ui/e2e/tests/mail/compose/compose_test.js
  ui/e2e/tests/mail/compose/drafts_test.js
  ui/e2e/tests/mail/compose/hyperlinks_test.js
  ui/e2e/tests/mail/compose/misc_test.js
  ui/e2e/tests/mail/compose/send_attachment_from_drive_test.js
  ui/e2e/tests/mail/compose/signature_test.js
  ui/e2e/tests/mail/compose_test.js
  ui/e2e/tests/mail/compose_tokenfield_typeahead_test.js
Due: build ui, build update-themes, test ui

switch codecept setup to use puppeteer
  gitlab-ci/e2e.yml
  ui/codecept.conf.js
  ui/e2e/helper.js
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

[e2e] refactored more tests
  ui/e2e/tests/settings/general/configure_quick_launchers_test.js
  ui/e2e/tests/settings/general/customize_quick_launcher_test.js
  ui/e2e/tests/settings/general/edit_user_test.js
  ui/e2e/tests/settings/general/language_test.js
  ui/e2e/tests/settings/general/timezone_test.js
  ui/e2e/tests/settings/mail/collect_addresses_reademail_test.js
  ui/e2e/tests/settings/mail/collect_addresses_test.js
  ui/e2e/tests/settings/mail/common_settings_test.js
  ui/e2e/tests/settings/mail/default_sender_address_test.js
  ui/e2e/tests/settings/mail/dont_collect_addresses_test.js
Due: build ui, build update-themes, test ui

fix General and permission tests
  ui/e2e/tests/general/client_onboarding_test.js
  ui/e2e/tests/general/configure_quick_launchers_test.js
  ui/e2e/tests/sharing/permissions_test.js
Due: build ui, build update-themes, test ui

just playing around k8s runners
  .gitlab-ci.yml
  gitlab-ci/docker.yml
  gitlab-ci/documentation.yml
  gitlab-ci/e2e.yml
  gitlab-ci/packaging.yml
  gitlab-ci/preview_apps.yml
Due: build ui, build update-themes, build help
