Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

.gitlab-ci.yml:

image: docker:latest

include:
  - local: "/gitlab-ci/docker.yml"
  - local: "/gitlab-ci/preview_apps.yml"
  - local: "/gitlab-ci/documentation.yml"
  - local: "/gitlab-ci/packaging.yml"
  - local: "/gitlab-ci/e2e.yml"

stages:
  - build
  - test
  - deploy
  - e2e
  - report
  - cleanup

.default_cache:
  cache:
    # use one cache
    key: "yarn"
    paths:
      - ".yarn-cache"

.build ui plugin:
  extends: .default_cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
  script:
    - cd ${PROJECT_PATH}
    - yarn --non-interactive --no-progress -s --cache-folder ../.yarn-cache
    - echo ${build_script}
    - eval "${build_script}"
    - "[ -z \"$PACKAGE_NAME\" ] && export PACKAGE_NAME=${PROJECT_PATH}"
    - "[ -z \"$HTDOCS_PACKAGE_NAME\" ] && export HTDOCS_PACKAGE_NAME=${PACKAGE_NAME}"
    - "[ -z \"$L10N_PACKAGE_NAME\" ] && export L10N_PACKAGE_NAME=${PACKAGE_NAME}"
    - npx grunt install:dist --prefix=../${PACKAGE_NAME}/build/pkg --htdoc=../${HTDOCS_PACKAGE_NAME}/build/pkg
    - npx grunt install:languages --prefix=../${L10N_PACKAGE_NAME}/build/pkg
  stage: build
  artifacts:
    expire_in: 2hours
    paths:
      - "*/build"
      - "*/dist"
      - "*/node_modules"

# split build_ui into 2 build jobs (running on 2 different runners in parallel)
# this distributes workload onto 2 runners instead of one and basically halves build time
build ui:
  extends: .build ui plugin
  parallel: 2
  variables:
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
    HTDOCS_PACKAGE_NAME: open-xchange-appsuite
    L10N_PACKAGE_NAME: open-xchange-appsuite-l10n
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    build_tasks_1: lint copy_build compile_po concat uglify:dist_largeFiles less copy_dist
    build_tasks_2: copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist
  tags:
    - openstack
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build update-themes:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build ui docker image:
  dependencies:
    - build ui

test ui:
  image: gitlab.open-xchange.com:4567/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
    - cd ui
    - yarn test
  stage: test
  dependencies:
    - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml
  only:
    changes:
      - ui/**/*

run e2e tests:
  extends: .default_cache
  # don't change the cache, just pull should be up-to-date due to previous build jobs
  cache:
    policy: pull

build help:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  only:
    changes:
      - help/**/*
      - open-xchange-appsuite-help/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build guidedtours:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: guidedtours
  only:
    changes:
      - guidedtours/**/*

build spamexperts:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  only:
    changes:
      - open-xchange-appsuite-spamexperts/**/*

build dynamic-theme:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-dynamic-theme
  only:
    changes:
      - open-xchange-dynamic-theme/**/*

Fixed: Sometimes group messages were not marked as read
  ui/apps/io.ox/chat/views/chat.js
Due: build ui, build update-themes, test ui

fixes bug 67548 - fixed variable
  ui/i18n/tr_TR.po
Due: build ui, build update-themes, test ui

Fixed Bug 67470 - Drag & drop of mail attachments doesn't trigger hover effect
  ui/apps/io.ox/core/tk/upload.less
Due: build ui, build update-themes, test ui

translation updates for 7.10.3
  ui/i18n/de_DE.po
Due: build ui, build update-themes, test ui

Fixed Bug 67532 - Smartphone: Missing ellipsis in AppLauncher
  ui/apps/themes/components/launcher.less
Due: build ui, build update-themes, test ui

Some minor updates
  help/help/l10n/de_DE/index.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.calendar.add.create.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.calendar.add.participants.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.calendar.settings.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.dataorganisation.downloadpersonaldata.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.email.manage.unifiedmail.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.security.multifactor.authenticator.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.tasks.add.participants.html
Due: build help

use hopscotch 0.0.2
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

use absolute version
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

move testrail to devDependencies
  ui/package.json
Due: build ui, build update-themes, test ui

Fix for #67473# File details allow to view (wrong) earlier versions for spreadsheets.
  ui/apps/io.ox/files/actions.js
Due: build ui, build update-themes, test ui

Build for patch 2019-12-02 (5454)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

documentation: updates less variables
  documentation/theming/variables.md
Due: none

documentation: fixes top level icons
  documentation/how-to.md
  documentation/testing.md
Due: none

Fixed: Bug 67556 - appointment Search works not consistent
  ui/apps/io.ox/find/main.js
Due: build ui, build update-themes, test ui

Fixed: Bug 66750 - Missing link in UI customisation documentation (2)
  documentation/customize.md
Due: none

OXUI-717: oidc relogin flow improvements
  ui/apps/io.ox/core/boot/login/openid.js
Due: build ui, build update-themes, test ui

enable package upload on pushed tags
  gitlab-ci/packaging.yml
Due: none

first update cycle for 7.10.3 - without Latvian and Finnish
  ui/i18n/cs_CZ.po
  ui/i18n/da_DK.po
  ui/i18n/en_GB.po
  ui/i18n/es_ES.po
  ui/i18n/es_MX.po
  ui/i18n/fr_CA.po
  ui/i18n/fr_FR.po
  ui/i18n/hu_HU.po
  ui/i18n/it_IT.po
  ui/i18n/ja_JP.po
  ui/i18n/nl_NL.po
  ui/i18n/pl_PL.po
  ui/i18n/pt_BR.po
  ui/i18n/ro_RO.po
  ui/i18n/ru_RU.po
  ui/i18n/sk_SK.po
  ui/i18n/sv_SE.po
  ui/i18n/tr_TR.po
  ui/i18n/zh_CN.po
  ui/i18n/zh_TW.po
Due: build ui, build update-themes, test ui

Revert "Fixed Bug 67470 - Drag & drop of mail attachments doesn't trigger hover effect"
  ui/apps/io.ox/core/tk/upload.less
Due: build ui, build update-themes, test ui

Initial user create and login into chat.
  ui/codecept.conf.js
  ui/e2e/actor.js
  ui/e2e/chatUsers.js
  ui/e2e/tests/chat/online_state_test.js
Due: build ui, build update-themes, test ui

Fix Bug 67520 - OX App Suite Help has no right padding Solution: added padding-right for .oxhelp-content in help.css
  help/help/help.css
Due: build help

Fixed Bug 67470 try number 2 - Drag & drop of mail attachments doesn't trigger hover effect"
  ui/apps/themes/components/draganddrop.less
Due: build ui, build update-themes, test ui

Fixed: Bug 66999 - dynamic-theme property changes
  documentation/theming/dynamic-theming.md
  open-xchange-dynamic-theme/apps/io.ox/dynamic-theme/register.js
Due: build dynamic-theme

Fixed: Bug 66717 - mail: multiple editing of same draft mail may lead to data loss
  ui/apps/io.ox/mail/compose/main.js
Due: build ui, build update-themes, test ui

Bug 66717 - mail: multiple editing of same draft mail may lead to data loss (2)
  ui/apps/io.ox/mail/compose/main.js
Due: build ui, build update-themes, test ui

Fixed Bug 67196 - [L3] Email body for appointment invites is not auto fitting in compact view across all browsers
  ui/apps/io.ox/calendar/style.less
  ui/apps/io.ox/mail/detail/content.less
  ui/apps/io.ox/mail/detail/style.less
  ui/apps/io.ox/mail/style.less
Due: build ui, build update-themes, test ui

Fixed Bug 61778 - Mail with very long to field overlaps the contact picture
  ui/apps/io.ox/mail/style.less
Due: build ui, build update-themes, test ui

Fixed in Bug 66610 - [L3] resizing of images and text is not working whem IE is used
  ui/apps/io.ox/mail/detail/view.js
Due: build ui, build update-themes, test ui

Fixed: Bug 67512 - [L3] iPhone ] Safari only: App chooser does only work every second time
  ui/apps/io.ox/core/tk/dropdown.js
Due: build ui, build update-themes, test ui

Fix for Bug 66820 - marking mail as "Not spam" does not refresh the Inbox mail grid instantly
  ui/apps/io.ox/mail/api.js
Due: build ui, build update-themes, test ui

help links: updates
  ui/apps/io.ox/contacts/edit/main.js
  ui/apps/io.ox/settings/main.js
Due: build ui, build update-themes, test ui

Fixed: Bug 67428 - Postal address format seems to default to DE if country is empty
  ui/apps/io.ox/core/locale/postal-address.js
Due: build ui, build update-themes, test ui

OXUD-705 Update the UI describing images due to the new Settings icon
  help/help/images/appsuite_user_gui_applauncher.png
  help/help/images/appsuite_user_gui_content.png
  help/help/images/appsuite_user_gui_editwindow.png
  help/help/images/appsuite_user_gui_foldertree.png
  help/help/images/appsuite_user_gui_halo.png
  help/help/images/appsuite_user_gui_menubar.png
  help/help/images/appsuite_user_gui_notificationarea.png
  help/help/images/appsuite_user_gui_searchbar.png
  help/help/images/appsuite_user_gui_toolbar.png
Due: build help

Updates due to UI translations
  help/help/l10n/de_DE/index.html
  help/help/l10n/de_DE/ox.appsuite.user.index.html
  help/help/l10n/de_DE/ox.appsuite.user.sect.guard.settings.html
Due: build help

Build for patch 2019-10-28 (5460)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

[e2e] fix wrong arguments for waitForText calls
  ui/e2e/tests/calendar/create_test.js
  ui/e2e/tests/contacts/edit-picture_commands.js
Due: build ui, build update-themes, test ui

Fixed [L3] 7.10.2 UI - upper icon bar is missing (Icons, Drop-Down-Menu(s), etc) - maybe overlayed by custom UI?
  ui/apps/plugins/core/feedback/style.less
Due: build ui, build update-themes, test ui
