Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

.gitlab-ci.yml:

image: docker:latest

include:
  - local: "/gitlab-ci/docker.yml"
  - local: "/gitlab-ci/preview_apps.yml"
  - local: "/gitlab-ci/documentation.yml"
  - local: "/gitlab-ci/packaging.yml"
  - local: "/gitlab-ci/e2e.yml"

stages:
  - build
  - test
  - deploy
  - e2e
  - report
  - cleanup

.default_cache:
  cache:
    # use one cache
    key: "yarn"
    paths:
      - ".yarn-cache"

.build ui plugin:
  extends: .default_cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
  script:
    - cd ${PROJECT_PATH}
    - yarn --non-interactive --no-progress -s --cache-folder ../.yarn-cache
    - echo ${build_script}
    - eval "${build_script}"
    - "[ -z \"$PACKAGE_NAME\" ] && export PACKAGE_NAME=${PROJECT_PATH}"
    - "[ -z \"$HTDOCS_PACKAGE_NAME\" ] && export HTDOCS_PACKAGE_NAME=${PACKAGE_NAME}"
    - "[ -z \"$L10N_PACKAGE_NAME\" ] && export L10N_PACKAGE_NAME=${PACKAGE_NAME}"
    - npx grunt install:dist --prefix=../${PACKAGE_NAME}/build/pkg --htdoc=../${HTDOCS_PACKAGE_NAME}/build/pkg
    - npx grunt install:languages --prefix=../${L10N_PACKAGE_NAME}/build/pkg
  stage: build
  artifacts:
    expire_in: 2hours
    paths:
      - "*/build"
      - "*/dist"
      - "*/node_modules"

# split build_ui into 2 build jobs (running on 2 different runners in parallel)
# this distributes workload onto 2 runners instead of one and basically halves build time
build ui:
  extends: .build ui plugin
  parallel: 2
  variables:
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
    HTDOCS_PACKAGE_NAME: open-xchange-appsuite
    L10N_PACKAGE_NAME: open-xchange-appsuite-l10n
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    build_tasks_1: lint copy_build compile_po concat uglify:dist_largeFiles less copy_dist
    build_tasks_2: copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist
  tags:
    - openstack
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build update-themes:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  only:
    changes:
      - ui/**/*
      - update-themes/**/*
      - open-xchange-appsuite/**/*
      - open-xchange-appsuite-l10n/**/*
      - open-xchange-appsuite-manifest/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build ui docker image:
  dependencies:
    - build ui

test ui:
  image: gitlab.open-xchange.com:4567/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
    - cd ui
    - yarn test
  stage: test
  dependencies:
    - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml
  only:
    changes:
      - ui/**/*

run e2e tests:
  extends: .default_cache
  # don't change the cache, just pull should be up-to-date due to previous build jobs
  cache:
    policy: pull

build help:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  only:
    changes:
      - help/**/*
      - open-xchange-appsuite-help/**/*
      - gitlab_ci/*
      - .gitlab-ci.yml

build guidedtours:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: guidedtours
  only:
    changes:
      - guidedtours/**/*

build spamexperts:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  only:
    changes:
      - open-xchange-appsuite-spamexperts/**/*

build dynamic-theme:
  extends: .build ui plugin
  variables:
    PROJECT_PATH: open-xchange-dynamic-theme
  only:
    changes:
      - open-xchange-dynamic-theme/**/*

limit amount of files installed with open-xchange-appsuite-manifest
  .gitlab-ci.yml
  update-themes/.gitignore
  update-themes/grunt/tasks/dist.js
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help

also run upload job on stable/develop branches
  gitlab-ci/packaging.yml
Due: none

Revert "revert tab handling refactoring"
  ui/apps/io.ox/core/api/tab.js
  ui/apps/io.ox/core/boot/login/tabSession.js
  ui/apps/io.ox/core/boot/main.js
  ui/apps/io.ox/core/main/appcontrol.js
  ui/apps/io.ox/core/main/autologout.js
  ui/apps/io.ox/core/main/logout.js
  ui/apps/io.ox/core/main/stages.js
  ui/apps/io.ox/core/relogin.js
  ui/apps/io.ox/core/settings/pane.js
  ui/apps/io.ox/core/tab/communication.js
  ui/apps/io.ox/core/tab/handling.js
  ui/apps/io.ox/core/tab/session.js
  ui/apps/io.ox/files/actions/show-in-drive.js
  ui/apps/io.ox/files/main.js
Due: build ui, build update-themes, test ui

fix detection of changes in gitlab-ci directory
  .gitlab-ci.yml
Due: build ui, build update-themes, build help

do not run e2e related jobs on poc/* branches
  gitlab-ci/e2e.yml
Due: none

also run upload job on release branches
  gitlab-ci/packaging.yml
Due: none

add workaround for incompatible office app code
  ui/apps/io.ox/core/api/tab.js
Due: build ui, build update-themes, test ui

e2e: Fix tests again ...and again and again and again...
  ui/e2e/tests/mail/unsorted/unsorted_test.js
  ui/e2e/tests/settings/address_book/configure_default_postal_map_service_test.js
  ui/e2e/tests/sharing/contacts_test.js
Due: build ui, build update-themes, test ui

RM-565 add support for Debian Buster
  .gitignore
  build.gradle.kts
Due: none

some changes and improvements - based on 7.10.2
  ui/i18n/tr_TR.po
Due: build ui, build update-themes, test ui

Automatic POT generation
  ui/i18n/tr_TR.po
Due: build ui, build update-themes, test ui

Fixed: Bug 66298 - Unable to install open-xchange-guard-ui-static
  open-xchange-appsuite/debian/rules
Due: build ui, build update-themes

Fixed: Bug 66345 - Mail: Threading: extending active mail is not intuitive
  ui/apps/io.ox/mail/common-extensions.js
  ui/apps/io.ox/mail/detail/view.js
  ui/apps/io.ox/mail/style.less
Due: build ui, build update-themes, test ui

Bug 66127 - Printing is blocked by popup blocker - Don't use blankshield in new versions of chrome
  ui/apps/io.ox/core/api/tab.js
Due: build ui, build update-themes, test ui

Fixed Bug 66081 - XSS through calendar print view
  ui/html/print.html
Due: build ui, build update-themes, test ui

Build for patch 2019-08-05 (5351)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

updated pluginlist and package.json
  ui/apps/io.ox/core/tk/contenteditable-editor.js
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

small font size adjustment
  ui/apps/io.ox/core/tk/contenteditable-editor-content.less
Due: build ui, build update-themes, test ui

OXUI-695: initial commit
  ui/apps/io.ox/core/emoji/view.js
  ui/apps/io.ox/core/tk/contenteditable-editor-content.less
  ui/apps/io.ox/core/tk/contenteditable-editor.js
  ui/apps/io.ox/core/tk/contenteditable-editor.less
  ui/apps/io.ox/emoji/emoji.less
  ui/package.json
Due: build ui, build update-themes, test ui

integration of the floating toolbar drawer and some css adjustments
  ui/apps/io.ox/core/tk/contenteditable-editor.js
  ui/apps/io.ox/core/tk/contenteditable-editor.less
Due: build ui, build update-themes, test ui

Bug 66127 - Printing is blocked by popup blocker - Edge Chromium use the same technique as Chrome
  ui/apps/io.ox/core/api/tab.js
Due: build ui, build update-themes, test ui

OXUI-710: added e2e test
  ui/e2e/tests/general/configure_quick_launchers_test.js
Due: build ui, build update-themes, test ui

OXUI-710: added another e2e test to test the settings page too
  ui/e2e/tests/settings/general/configure_quick_launchers_test.js
Due: build ui, build update-themes, test ui

Fixed Bug 66297 - [L3] Wrong dutch translation for attachment view
  ui/apps/io.ox/core/pim/actions.js
  ui/apps/io.ox/files/actions.js
  ui/apps/io.ox/files/contextmenu.js
  ui/apps/io.ox/files/toolbar.js
  ui/apps/io.ox/mail/actions.js
Due: build ui, build update-themes, test ui

Fixed Bug 66390 - Contact images loaded for malicious emails in spam folder
  ui/apps/io.ox/mail/common-extensions.js
Due: build ui, build update-themes, test ui

Automatic POT generation
  ui/i18n/bg_BG.po
  ui/i18n/ca_ES.po
  ui/i18n/cs_CZ.po
  ui/i18n/da_DK.po
  ui/i18n/de_DE.po
  ui/i18n/en_GB.po
  ui/i18n/en_US.po
  ui/i18n/es_ES.po
  ui/i18n/es_MX.po
  ui/i18n/et_EE.po
  ui/i18n/fi_FI.po
  ui/i18n/fr_CA.po
  ui/i18n/fr_FR.po
  ui/i18n/hu_HU.po
  ui/i18n/it_IT.po
  ui/i18n/ja_JP.po
  ui/i18n/lv_LV.po
  ui/i18n/mn_MN.po
  ui/i18n/nb_NO.po
  ui/i18n/nl_NL.po
  ui/i18n/ox.pot
  ui/i18n/pl_PL.po
  ui/i18n/pt_BR.po
  ui/i18n/ro_RO.po
  ui/i18n/ru_RU.po
  ui/i18n/sk_SK.po
  ui/i18n/sv_SE.po
  ui/i18n/tr_TR.po
  ui/i18n/zh_CN.po
  ui/i18n/zh_TW.po
Due: build ui, build update-themes, test ui

additional commit for bug 66048
  ui/apps/io.ox/core/folder/contextmenu.js
Due: build ui, build update-themes, test ui

terminology change: Account chnaged to Konto
  guidedtours/i18n/de_DE.po
Due: build guidedtours

terminology change: Account changed to Konto, and some small updates and changes
  ui/i18n/de_DE.po
Due: build ui, build update-themes, test ui

Fixed: bug 66337 - vacation text is not saved
  ui/apps/io.ox/mail/mailfilter/vacationnotice/view.js
Due: build ui, build update-themes, test ui

changed some wording
  ui/i18n/de_DE.po
Due: build ui, build update-themes, test ui

[e2e] fix possible shakyness of some tests
  ui/e2e/tests/sharing/general_test.js
Due: build ui, build update-themes, test ui

[e2e] remove *aveResource helper functions
  ui/e2e/helper.js
Due: build ui, build update-themes, test ui

update to latest codeceptjs version
  ui/e2e/tests/calendar/edit_test.js
  ui/e2e/tests/calendar/misc_test.js
  ui/e2e/tests/calendar/move_test.js
  ui/e2e/tests/calendar/multi_calendar_test.js
  ui/e2e/tests/drive/drive_test.js
  ui/e2e/tests/drive/folder_test.js
  ui/e2e/tests/drive/general_test.js
  ui/e2e/tests/drive/misc_test.js
  ui/e2e/tests/mail/imap_subscriptions_test.js
  ui/e2e/tests/mail/mailfilter/actions_test.js
  ui/e2e/tests/mail/move_copy_test.js
  ui/e2e/tests/search/email/search_in_different_folders_test.js
  ui/e2e/tests/settings/accounts/primary_account_rename_test.js
  ui/e2e/tests/sharing/general_test.js
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

[e2e] remove createFolder helper
  ui/e2e/helper.js
  ui/e2e/tests/calendar/create_test.js
  ui/e2e/tests/drive/folder_test.js
  ui/e2e/tests/tasks/create/create_test.js
  ui/e2e/tests/tasks/edit/edit_test.js
Due: build ui, build update-themes, test ui

[e2e] make test more stable
  ui/e2e/tests/settings/calendar/set_new_default_reminders_all-day-appointments_test.js
Due: build ui, build update-themes, test ui
